<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>W02P1</title>
    <!-- Include Angel's WebGL utility scripts -->
    <script src="../angelCommon/webgl-utils.js"></script>
    <script src="../angelCommon/initShaders.js"></script>
    <script src="../angelCommon/MV.js"></script>

    <!-- Vertex Shader -->
    <script id="vertex-shader" type="x-shader/x-vertex">
        attribute vec4 vPosition;

        void main() {
            gl_Position = vPosition;
            gl_PointSize = 10.0;
        }
    </script>

    <!-- Fragment Shader -->
    <script id="fragment-shader" type="x-shader/x-fragment">
        precision mediump float;

        void main() {
            gl_FragColor = vec4(0.0, 0.0, 0.0, 1.0); // Black color
        }
    </script>

    <!-- Include your custom script -->
    <script type="text/javascript" src="w02p1.js"></script> 
</head>
<body> 
    <canvas id="gl" width="512" height="512">
        Your browser doesn't support the HTML5 <code>&lt;canvas&gt;</code> element.
    </canvas> 
</body>
</html>